.darkmode{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}
#title{ 
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}