*{  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-page{
    background-color: #1f1f1f;
}

.main-nav__item{
    background-color: #161515;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: right;
}


.main-nav__item--signup{
    transition: transform .2s;  
    display: inline-block; 
    padding: 15px;
    
}

.main-nav__item--signup a{
    color: White;
    text-decoration: none;
}

.main-nav__item--signup:hover{
    transform: scale(1.3);
}

.main-nav__item--signup a:active{
    color: tomato;
}

.main-nav__item--login{
    transition: transform .2s;  
    display: inline-block; 
    padding: 15px;
}

.main-nav__item--login a{
    color: black;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    text-decoration: none;
}

.main-nav__item--login:hover{
    transform: scale(1.3);
}

.main-nav__item--login a:active{
    background-color: tomato;
}

.title{ 
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}