.main-page{
    background-color: #1f1f1f;
}

.main-nav__item{
    margin-left: -1%;
    margin-top: -1.3%;
    margin-right: -7px;
    background-color: #161515;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    text-align: right;
}

.logo{
    margin-top: 0.7%;
    text-align: left;
    transition: transform .2s;  
    display: inline-block; 
    padding: 0px;
    max-width: 3%; 
    position:absolute;
    width:100px;
    top:-5px;
    left:5px;
    
}

.logo a{
    color: White;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.3);
}

.main-nav__item--signup{
    transition: transform .2s;  
    display: inline-block; 
    padding: 15px;
    
}

.main-nav__item--signup a{
    color: White;
    text-decoration: none;
}

.main-nav__item--signup:hover{
    transform: scale(1.3);
}

.main-nav__item--signup a:active{
    color: tomato;
}

.main-nav__item--login{
    transition: transform .2s;  
    display: inline-block; 
    padding: 15px;
}

.main-nav__item--login a{
    color: black;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    text-decoration: none;
}

.main-nav__item--login:hover{
    transform: scale(1.3);
}

.main-nav__item--login a:active{
    background-color: tomato;
}

.title{ 
    color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}