/* Headers */
.highlighted-text:hover{
    color: #DD4A48 !important
};
/* https://colorhunt.co/palette/ede6db417d7a1d5c631a3c40 */
#header img{
    width: 110px;
}

/* Footers*/
#footer{
    background: #1A3C40;
}
#footer a{
    color: white;
    text-decoration: none;
}

  /* mouse over link */
  #footer a:hover {
    color: #EDE6DB;
    text-decoration: wavy;
  }

  /* selected link */
 #footer a:active {
    color: #417D7A;
  }