/* Headers */
.highlighted-text:hover{
    color: #DD4A48 !important
};

#header img{
    width: 110px;
}

/* Footers*/
#footer{
    background: linear-gradient(90deg, #1A3C40, #1D5C63);
}
#footer a{
    color: white;
    text-decoration: none;
}

  /* mouse over link */
  #footer a:hover {
    color: #EDE6DB;
    text-decoration: wavy;
  }

  /* selected link */
 #footer a:active {
    color: #417D7A;
  }